@keyframes MessageFormFieldSlideInRight {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes IntroMessageFadeSlideInUp {
  0% {
    opacity: 0;
    transform: translateY(40rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes SocialLinkFadeSlideInUp {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes PageTogglerFadeSlideInRight {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes LogoFadeSlideInLeft {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes LinkFadeSlideIn {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }

  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes FooterSlideInUp {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes SocialTogglerBounceIn {
  0% {
    transform: translate(-50%, -50%) scale(-1);
    opacity: 0;
  }

  70% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: .8;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
